/*header*/
a {
    color: #000000;
}
body{color:#173135;}

a:hover:active {
    color: #ec407a;
    text-decoration: underline;
}

.btn-link {
    font-weight: 400;
    color: 
    #ffffff;
}

.btn:hover {
    color: #ffffff;
}

.accordbtnwdth{width: 130px;}

.navbar-nav .nav-link, .navbar-nav .nav-link {
    color: 
    #000000;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    color: 
    #00A6C0;
}

.navbar-nav .open > .nav-link, .navbar-nav .open > .nav-link:hover, .navbar-nav .open > .nav-link:focus, .navbar-nav .active > .nav-link, .navbar-nav .active > .nav-link:hover, .navbar-nav .active > .nav-link:focus, .navbar-nav .nav-link.open, .navbar-nav .nav-link.open:hover, .navbar-nav .nav-link.open:focus, {
    color: 
    #000000;;
}

.nav-link.active, .navbar-nav .nav-link.active:hover, .navbar-nav .nav-link.active:focus {color:#00A6C0;}

.breadcrumb-item.active {
    color: 
    #ffffff;    
}

.tableicongreen{color: green; font-size: 25px; font-weight: bold; }
.tableicon{color: blue; font-size: 25px; font-weight: bold; }

.tableiconred{color: red; font-size: 25px; font-weight: bold; }

.pl-3, .px-3 {
    padding-left: 10px !important;
}

/*dropdown*/
.dropdown-item:hover{
    background-color: #32D9CB;
}

/*button*/
.btn-primary {
    color: 
#000000;
background-color:
#A5E65A;
border-color:
    #32D9CB;
}

.btn-primary:hover {
    color: 
#000000;
background-color:
#32D9CB;
border-color:
    #A5E65A;
}

.btn-secondary {
    color: 
#000000;
background-color:#ffffff;
border-color:
    #ffffff;
}
.btn-secondary:hover {
    color: 
#00A6C0;
background-color:#ffffff;
border-color:
    #ffffff;
}

.nav-link:hover{color:#00A6C0;}

/*sidebar*/
.sidebar {
    background-color: #173135;

}

.breadcrumb {
    background-color: #63bcc9;
    color:#607188;
}

.sidebar .nav-link:hover {
    color:  #000000;
 background:
    #63bcc9;
    opacity: 100;
}
.sidebar .nav-link .nav-icon {
    color: 
    #63bcc9;
}
.sidebar .nav-link:hover .nav-icon {
    color: 
    #47cacc;
}
.inputborder {
    border: 1px solid #A5E65A;
}

.textnew{color: #A5E65A;}

.form-control {

border: 1px solid
    #e1e1e1;
    
}

/* card */
.card-header {
    color: #ffffff;
    padding: 8px 7px;
    margin-bottom: 0;
    background-color: #1fc8db; /* For browsers that do not support gradients */
  background-image: linear-gradient(141deg, #4ca1af  0%, #47cacc 51%, #63bcc9 75%);
border-bottom: 1px solid
    #28bebd;
}

.input-group-text {
    color: #23282c;
    font-weight: 600;
    background-color:#f0f3f5;
border: 1px solid
    #A5E65A;
    border-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
}


/*table*/
.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #32D9CB; border-bottom: 2px solid #00A6C0;}

.table-striped tbody tr:nth-of-type(2n) {
        background-color: #cee5eb;}

.table { color: #000000;}

a.badge-primary, a.badge-primary {
    color: #000000; background-color: #A5E65A;
}

a.badge-primary:hover, a.badge-primary:focus {
    color: #fff; background-color: #00A6C0;
}
  
.page-item.active .page-link {
    color: #000000;
    background-color:#32D9CB;
    border-color:    #32D9CB;
}

.form-check-input {
    color: #00A6C0;
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
}